html, body {
    margin: 0;
    height: 100%;
}

#home {
    height: 100vh;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.vert-child {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vertical-line-top {
    float: right;
    width: 42px;
    height:42px;
}

.vertical-line-bot {
    float: left;
    width: 42px;
    height:42px;
}

.left {
    height: 100%;
    width: 50%;
    float: left;
}

.right {
    height: 100%;
    width: 50%;
    float: right;
    border-left: solid 3px black;
}

.filler {
    height: 42px;
}

.center {
    margin: auto;
}

form > div > input {
    width: 100%;
    margin: 5px 0px 5px 0px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 28px;
}

form > div > textarea {
    width: 100%;
    margin: 5px 0px 5px 0px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 28px;

}

textarea:focus, input:focus {
    outline: none;
}

.contact-right {
    margin-top: 10%;
}

section {
    margin-bottom: 20px;
}

.img-wrap {
    position: relative;
    height: 100%;
    width: 100%;
}

.img-text {
    position: absolute;
    visibility: hidden;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
    opacity: 0;
    font-size: 2.5em;
    color: white;
}

.img-wrap:hover .img-text {
    visibility: visible;
    opacity: 1;
    background:rgba(0,0,0,0.6);
}

#about img {
    border-radius: 50%;
}

.scale:hover > i {
    transform: scale(1.25);
}