html, body {
    margin: 0;
    height: 100%;
}

#home {
    height: 100vh;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.vert-child {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vertical-line-top {
    float: right;
    width: 42px;
    height:42px;
}

.vertical-line-bot {
    float: left;
    width: 42px;
    height:42px;
}

.left {
    height: 100%;
    width: 50%;
    float: left;
}

.right {
    height: 100%;
    width: 50%;
    float: right;
    border-left: solid 3px black;
}

.filler {
    height: 42px;
}

.center {
    margin: auto;
}

form > div > input {
    width: 100%;
    margin: 5px 0px 5px 0px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 28px;
}

form > div > textarea {
    width: 100%;
    margin: 5px 0px 5px 0px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 28px;

}

textarea:focus, input:focus {
    outline: none;
}

.contact-right {
    margin-top: 10%;
}

section {
    margin-bottom: 20px;
}
